
.dropdown-menu{
          width: 25vw;
}
.cart{
          width: 100%;
}

.button{
          background-color: blue;
}

.dropdown-menu img{
          height: 1vw;
          float: left;
      }

.price{
                margin-top: 2vw;
      }
      
    