@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/stickyfooter.css">
        <link rel="stylesheet" type="text/css" href="/css/shoppingcart.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd">
  <a class="navbar-brand" href="/">Gaming Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Orderhistory">Order History</a>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" onclick="showCart()" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="~/media/cart.png">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<th>
  <tr id="cart"></tr>
</th>

          <div id="cart" class="cart"></div>
          <br/>
          <hr/>
          <div id="price" class="price"></div>
        </div>
      </li>
      </ul>
    </nav>
</div>
  </div>

        <main>
            @RenderBody()
        </main>
        
        <footer class="page-footer" style="background-color: #e3f2fd">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright Gaming Site™
  </div>
  <!-- Copyright -->

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/javascripts/main.js"></script>
    </body>
    
</html>