@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Orderhistory>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterview.cshtml";
}
<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/stickyfooter.css">
        <link rel="stylesheet" type="text/css" href="/css/shoppingcart.css">
        
    </head>

<body onload="orderHistory()"> 

 <div class="container" style="Margin-top: 30px">
    <div class ="row">
      <div class="col-lg-4">
    
   <div id="orderHistory"><h1>Here's your order history</h1></div>
    
      </div>
    </div>
  </div>


</body>
                        
  
  <script src="~/javascripts/main.js"></script>
  </html>