@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Orderhistory>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterview.cshtml";
}

<body onload="savedOrderhistory()">
<h1>Order History</h1>
	
          <div id="confirm" class="list-group-item">

          </div>
</body>