@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterview.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<div class="container" style="Margin-top: 20px">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <a href="products/kingston-ssd-harddrive" class="product-grid__item">
              <img src="Media/product7.jpg" class="card-img-top" alt="A cat toy.">
          </a>    
            <div class="card-body">
              <button type="submit" class="btn btn-primary btn-sm">Add to cart</button>
              <p class="card-text">SSID med 512GB.</p>
            </div>
        </div>
      </div>
    <div class="col-sm-4">
      <div class="card">
        <a href="products/gaming-headset" class="product-grid__item">
          <img src="Media/product9.jpg" class="card-img-top" alt="A dog toy.">
        </a>  
        <div class="card-body">
          <button type="submit" class="btn btn-primary btn-sm">Add to cart</button>
          <p class="card-text">Skönaste headsets i norden.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <a href="products/gaming-mouse" class="product-grid__item">
            <img src="Media/product10.jpg" class="card-img-top" alt="A dog being brushed.">
        </a>
        <div class="card-body">
          <button type="submit" class="btn btn-primary btn-sm">Add to cart</button>
            <p class="card-text">Våra möss jagar gärna katter.</p>
        </div>
      </div>
      </div>
    </div>
</div>

<div class="container" style="Margin-top: 10px">
  <div class ="row">
  @foreach (Product x in Model.Product)
  {
      <div class="col-sm-2" style="margin-bottom: 20px">
        <div class="card">
          <a href="@x.Url" class="product-grid__item">
            <img src="@x.ProductImage" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <button type="submit" class="btn btn-primary btn-sm">Add to cart</button>
            <p class="card-text">@x.ProductName</p>
          </div>
        </div>
      </div>
  }
  </div>
</div>


<div class="container">
  <div style="text-align: right; margin-top: 10px; margin-bottom: 10px;">
    <button class="btn btn-primary" type="button" href="#">Chekout</button> 
  </div>
</div>
