@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterview.cshtml";
}

<<<<<<< HEAD
@foreach (Product x in Model.Product)
               {
                  <img src="@x.ProductImage">
               }
=======
<h1>Products</h1>
>>>>>>> e2c61ce5dc8731ffeac0dcdf26f42fbbe51e765e
